body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
}
.form-inline > * {
   margin:9px 6px;
}
/*.container {*/
    /*width: 100%;*/
/*}*/
#chart {
}
/*.form-control {*/
    /*padding: 10px;*/
/*}*/

